/* Импорт стилей для элементов карточек (.cards__item) */
@import url(./__item/cards__item.css);

/* Импорт стилей для изображений в карточках (.cards__image) */
@import url(./__image/cards__image.css);

/* Импорт стилей для заголовков в карточках (.cards__title) */
@import url(./__title/cards__title.css);

/* Импорт стилей для описаний в карточках (.cards__description) */
@import url(./__description/cards__description.css);

/* Стили для контейнера карточек (.cards) */
.cards {
  width: 920px; /* Установка ширины контейнера карточек на 920 пикселей */
  display: flex; /* Отображение содержимого контейнера карточек в виде flex-контейнера */
  flex-wrap: wrap; /* Разрешение переноса элементов на новую строку, если контейнер не может вместить все элементы в одну строку */
}

