/* Стили для геометрической фигуры в секции шапки сайта (.header__square-pic) */
.header__square-pic {
  background-color: #2f80ed; /* Цвет фона геометрической фигуры (голубой) */
  height: 568px; /* Установка высоты геометрической фигуры на 568 пикселей */
  width: 568px; /* Установка ширины геометрической фигуры на 568 пикселей */
  position: absolute; /* Установка абсолютной позиции элемента внутри его родительского контейнера */
  top: 64px; /* Отступ сверху от геометрической фигуры на 64 пикселя */
  right: 0; /* Отступ справа от геометрической фигуры на 0 (прижимается к правому краю родительского контейнера) */
}

