/* Стили для секции с описанием (.description) */
.description {
  display: flex; /* Отображение содержимого секции в виде flex-контейнера */
  justify-content: center; /* Выравнивание элементов внутри flex-контейнера по центру по горизонтали */
  padding-top: 100px; /* Внешний отступ сверху секции на 100 пикселей */
}

