.khan__quote {
  width: 790px; /* Ширина цитаты: 790 пикселей */
  margin: 50px 0 36px 0; /* Отступы вокруг цитаты: 50 пикселей сверху, 36 пикселей снизу, 0 пикселей слева и справа */
  line-height: 34px; /* Межстрочное расстояние в тексте цитаты: 34 пикселя */
  font-size: 24px; /* Размер шрифта цитаты: 24 пикселя */
  font-weight: normal; /* Обычное начертание шрифта для цитаты (не bold) */
}

