/* Стили для блока цифр (.digits) */
.digits {
  display: flex; /* Установка элементов в строку */
  flex-direction: column; /* Отображение элементов в столбце */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
  padding: 100px 0; /* Внутренний отступ сверху и снизу для блока цифр: 100 пикселей, внутренний отступ справа и слева - 0 */
}

