/* Стили для описаний в карточках (.cards__description) */
.cards__description {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 23px; /* Высота строки текста в описаниях карточек на 23 пикселя */
  font-size: 18px; /* Размер шрифта описаний карточек на 18 пикселей */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста описаний карточек */
}

