.feynman__title {
  width: 648px; /* Ширина заголовка "Метод Фейнмана": 648 пикселей */
  margin: 0; /* Установка внешних отступов для заголовка: 0 пикселей по всем сторонам */
  padding: 0; /* Установка внутренних отступов для заголовка: 0 пикселей по всем сторонам */
  text-align: center; /* Выравнивание текста заголовка по центру */
  line-height: 1.15; /* Высота строки заголовка: 1.15, что означает немного больше, чем размер шрифта */
  font-size: 120px; /* Размер шрифта заголовка: 120 пикселей */
  font-weight: bold; /* Жирное начертание шрифта для заголовка */
}

