.feynman__link {
  position: absolute; /* Абсолютное позиционирование элемента */
  top: 50%; /* Расположение ссылки вертикально на 50% относительно родительского элемента */
  right: 48px; /* Расположение ссылки справа относительно родительского элемента с отступом 48 пикселей */
  line-height: 51px; /* Высота строки ссылки: 51 пиксель */
  font-size: 36px; /* Размер шрифта ссылки: 36 пикселей */
  font-weight: normal; /* Обычное (нежирное) начертание шрифта для ссылки */
  color: #2f80ed; /* Цвет текста ссылки: #2f80ed (светло-синий) */
  text-decoration: none; /* Удаление подчеркивания для ссылки */
  transition: opacity .3s ease; /* Плавное изменение прозрачности при наведении на ссылку: 0.3 секунды */
}

.feynman__link:hover {
  opacity: 0.8; /* Прозрачность ссылки при наведении на неё: 0.8 (80%) */
}

