/* Импорт стилей для темной темы заголовков секций (@import url(./_theme/section-title_theme_dark.css)) */

/* Стили для заголовков секций (.section-title) */
.section-title {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  width: 60%; /* Установка ширины заголовка на 60% от ширины его родительского контейнера */
  text-align: center; /* Выравнивание текста по центру */
  line-height: 69px; /* Высота строки текста в заголовке на 69 пикселей */
  font-size: 60px; /* Размер шрифта заголовка на 60 пикселей */
  font-weight: bold; /* Установка полужирного начертания для текста заголовка */
  z-index: 2; /* Порядок расположения элемента в слоях (z-index) на 2 */
}

