/* Импорт стилей для темной темы подзаголовков секций (@import url(./_theme/section-subtitle_theme_dark.css)) */

/* Стили для подзаголовков секций (.section-subtitle) */
.section-subtitle {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  margin-top: 20px; /* Внешний отступ сверху подзаголовка на 20 пикселей */
  width: 60%; /* Установка ширины подзаголовка на 60% от ширины его родительского контейнера */
  text-align: center; /* Выравнивание текста по центру */
  line-height: 34px; /* Высота строки текста в подзаголовке на 34 пикселя */
  font-size: 24px; /* Размер шрифта подзаголовка на 24 пикселя */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста подзаголовка */
  z-index: 2; /* Порядок расположения элемента в слоях (z-index) на 2 */
}

