.khan__author {
  margin: 0; /* Отступы вокруг элемента установлены как 0, чтобы убрать лишние пространственные интервалы */
  line-height: 42px; /* Высота строки текста составляет 42 пикселя */
  font-size: 30px; /* Размер шрифта установлен на 30 пикселей */
  font-weight: normal; /* Нормальная насыщенность шрифта (обычный вес) */
}

