/* Стили для акцентирующего спана в статье с двумя колонками (.two-columns__span-accent) */
.two-columns__span-accent {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 34px; /* Высота строки текста в акцентирующем спане на 34 пикселя */
  font-size: 24px; /* Размер шрифта акцентирующего спана на 24 пикселя */
  font-weight: 600; /* Установка полужирного начертания для текста акцентирующего спана */
}
