.footer__author {
  margin: 18px 0; /* Внешний отступ сверху и снизу: 18 пикселей, 0 отступ справа и слева */
  padding: 0; /* Внутренний отступ: 0 */
  color: white; /* Цвет текста: белый */
  line-height: 25px; /* Высота строки: 25 пикселей */
  font-size: 18px; /* Размер шрифта: 18 пикселей */
  font-weight: normal; /* Толщина шрифта: обычный (нормальный) */
}

