/* Стили для ссылки в секции шапки сайта (.header__link) */
.header__link {
  color: #2f80ed; /* Цвет текста ссылки (голубой) */
  text-decoration: none; /* Удаление подчеркивания у ссылки */
  transition: opacity .3s ease; /* Плавный переход свойства прозрачности (опасити) с продолжительностью 0.3 секунды и функцией времени "ease" */
}

/* Стили для ссылки при наведении (.header__link:hover) */
.header__link:hover {
  opacity: 0.8; /* Установка прозрачности ссылки на 0.8 при наведении курсора */
}
