/* Стили для секции с техниками обучения (.techniques) */
.techniques {
  width: 80%; /* Установка ширины секции на 80% от ширины её родительского контейнера */
  display: flex; /* Отображение содержимого секции в виде flex-контейнера */
  flex-direction: column; /* Выравнивание элементов внутри flex-контейнера по вертикали (колонки) */
  align-items: center; /* Выравнивание элементов внутри flex-контейнера по центру по горизонтали */
  margin: 0 auto; /* Установка внешних отступов слева и справа на автоматические (центрирование по горизонтали) */
  padding-top: 100px; /* Внешний отступ сверху секции на 100 пикселей */
}

