.khan__qoute-author-subline {
  margin: 0; /* Отменяет внешние отступы для подзаголовка */
  line-height: 1.15; /* Межстрочное расстояние для подзаголовка: 1.15 (задает небольшой интервал между строками) */
  font-size: 24px; /* Размер шрифта для подзаголовка: 24 пикселя */
  font-weight: normal; /* Обычное (нежирное) начертание шрифта для подзаголовка */
}

