/* Стили для элементов карточек (.cards__item) */
.cards__item {
  width: 240px; /* Установка ширины элементов карточек на 240 пикселей */
  margin-right: 100px; /* Внешний отступ справа для элементов карточек на 100 пикселей */
  text-align: center; /* Выравнивание содержимого элементов карточек по центру */
}

/* Стили для каждого третьего элемента карточек (.cards__item:nth-child(3n)) */
.cards__item:nth-child(3n) {
  margin-right: 0; /* Удаление внешнего отступа справа для каждого третьего элемента карточек */
}

