.feynman__subtitle {
  margin: 0; /* Установка внешних отступов для подзаголовка: 0 пикселей по всем сторонам */
  padding: 0; /* Установка внутренних отступов для подзаголовка: 0 пикселей по всем сторонам */
  margin-top: 70px; /* Внешний отступ сверху для подзаголовка: 70 пикселей */
  text-align: center; /* Выравнивание текста подзаголовка по центру */
  line-height: 51px; /* Высота строки подзаголовка: 51 пиксель */
  font-size: 36px; /* Размер шрифта подзаголовка: 36 пикселей */
  font-weight: normal; /* Обычное (нежирное) начертание шрифта для подзаголовка */
}

