/* Стили для параграфов в статье с двумя колонками (.two-columns__paragraph) */
.two-columns__paragraph {
  margin: 0 0 20px 0; /* Установка отступов внутри элемента: сверху и снизу - 0, слева и справа - 20 пикселей */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 34px; /* Высота строки текста в параграфе на 34 пикселя */
  font-size: 24px; /* Размер шрифта параграфа на 24 пикселя */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста параграфа */
}

/* Стили для последнего параграфа в статье с двумя колонками (.two-columns__paragraph:last-child) */
.two-columns__paragraph:last-child {
  margin: 0; /* Установка отступов внутри последнего параграфа на 0 (отмена отступов) */
}

