/* Стили для заголовков в карточках (.cards__title) */
.cards__title {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  margin-bottom: 16px; /* Внешний отступ снизу заголовка на 16 пикселей */
  line-height: 1.15; /* Высота строки текста в заголовке на 1.15 (увеличение интерлиньяжа) */
  font-size: 24px; /* Размер шрифта заголовка на 24 пикселя */
  font-weight: 600; /* Установка полужирного начертания для текста заголовка */
}
