/* Стили для контейнера с основным текстом в статье с двумя колонками (.two-columns__main-text) */
.two-columns__main-text {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  width: 80%; /* Установка ширины контейнера на 80% от ширины его родительского контейнера */
  min-width: 784px; /* Минимальная ширина контейнера на 784 пикселя */
}

