/* Анимация для вращения элемента с использованием keyframes (@keyframes rotation) */
@keyframes rotation {
  /* Начальный кадр анимации (from) */
  from {
    transform: rotate(0deg); /* Вращение элемента на 0 градусов (исходное положение) */
  }
  /* Конечный кадр анимации (to) */
  to {
    transform: rotate(360deg); /* Вращение элемента на 360 градусов (полное оборотное положение) */
  }
}

/* Стили для элементов с классом .rotation */
.rotation {
  animation: rotation 20s infinite linear;
  /* Применение анимации с именем rotation:
      - Продолжительность анимации - 20 секунд
      - Количество повторений - бесконечно (infinite)
      - Тип интерполяции - линейная (linear) */
}

