/* Стили для ячеек таблицы (.table__cell) */
.table__cell {
  width: 250px; /* Ширина ячеек таблицы: 250 пикселей */
  margin-top: 60px; /* Внешний отступ сверху для ячеек таблицы: 60 пикселей */
  list-style: none; /* Удаление маркера списка у элемента */
}

