.oakley {
  display: flex; /* Установка элементов в строку */
  justify-content: center; /* Выравнивание элементов по центру по горизонтали */
  padding-top: 160px; /* Внутренний отступ сверху для блока: 160 пикселей */
  background-color: #f2f2f2; /* Цвет фона блока: #f2f2f2 (светло-серый) */
}

