.footer__column_content_copyright {
  flex-basis: 711px; /* Устанавливает желаемую ширину элемента в столбце */
  display: flex; /* Устанавливает элементы внутри в столбец */
  flex-direction: column; /* Отображает элементы внутри в столбце */
  justify-content: space-between; /* Распределяет пространство между элементами в столбце равномерно */
}

