.resources__logo-zone {
  width: 1100px; /* Ширина блока "resources__logo-zone": 1100 пикселей */
  list-style: none; /* Отключение маркеров списка для элементов внутри блока */
  padding: 0; /* Удаление внутренних отступов для блока "resources__logo-zone" */
  margin: 80px auto 0 auto; /* Внешний отступ сверху 80 пикселей, а остальные отступы автоматически настроены для блока "resources__logo-zone" */
  display: flex; /* Установка элементов в строку */
}

