/* Стили для подзаголовка в секции шапки сайта (.header__subtitle) */
.header__subtitle {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  width: 388px; /* Установка ширины подзаголовка на 388 пикселей */
  position: absolute; /* Установка абсолютной позиции элемента внутри его родительского контейнера */
  left: 64px; /* Отступ слева от подзаголовка на 64 пикселя */
  bottom: 30px; /* Отступ снизу от подзаголовка на 30 пикселей */
  z-index: 2; /* Установка z-индекса элемента на 2 (определяет его позицию относительно других элементов) */
  line-height: 25px; /* Высота строки текста в подзаголовке на 25 пикселей */
  font-size: 18px; /* Размер шрифта подзаголовка на 18 пикселей */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста подзаголовка */
}

