.khan__title {
  margin: 0; /* Отменяет внешние отступы для заголовка */
  line-height: 1.15; /* Межстрочное расстояние для заголовка: 1.15 (задает небольшой интервал между строками) */
  font-size: 60px; /* Размер шрифта для заголовка: 60 пикселей */
  font-weight: 600; /* Полужирное (семейство шрифта с более высоким весом) начертание шрифта для заголовка */
}

