/* Стили для изображений в карточках (.cards__image) */
.cards__image {
  width: 160px; /* Установка ширины изображений в карточках на 160 пикселей */
  height: 160px; /* Установка высоты изображений в карточках на 160 пикселей */
  margin: 60px 40px 43px 40px; /* Внешние отступы для изображений в карточках: 60px сверху, 40px справа и слева, 43px снизу */
  border-radius: 50%; /* Установка радиуса скругления углов для создания круглых изображений */
}
