/* Стили для блока видео-фреймов (.video__iframes) */
.video__iframes {
  position: relative; /* Позиционирование элементов относительно их нормального положения */
  top: 50px; /* Смещение блока видео-фреймов вниз на 50 пикселей относительно его нормального положения */
  display: flex; /* Установка элементов в строку */
}

