.kaufman__triangle {
  width: 877px; /* Ширина элемента: 877 пикселей */
  height: 877px; /* Высота элемента: 877 пикселей */
  background-image: url(../../../images/kaufman-triangle.svg); /* Фоновое изображение для элемента */
  background-size: 877px 877px; /* Размер фонового изображения: 877 пикселей в ширину, 877 пикселей в высоту */
  position: absolute; /* Абсолютное позиционирование элемента */
  top: 0; /* Расположение элемента сверху относительно его родителя */
  right: -210px; /* Расположение элемента справа относительно его родителя с отступом 210 пикселей */
}

