.footer__column-heading {
  margin: 0; /* Отступ 0*/
  padding: 0;
  color: white; /* Задает цвет текста - белый */
  line-height: 30px; /* Задает высоту строки текста в 30 пикселей */
  font-size: 18px; /* Задает размер шрифта в 18 пикселей */
  font-weight: 600; /* Задает жирность шрифта - жирный */
}

