.resources__logo {
  width: 270px; /* Ширина логотипа: 270 пикселей */
  height: 38px; /* Высота логотипа: 38 пикселей */
  transition: opacity .3s ease; /* Плавное изменение прозрачности при переходе (продолжительность 0.3 секунды, плавность "ease") */
}

.resources__logo:hover {
  opacity: 0.8; /* Прозрачность логотипа при наведении на него курсора: 0.8 (80%) */
}

