/* Стили для краткого заголовка в статье с двумя колонками (.two-columns__brief) */
.two-columns__brief {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 1.2; /* Высота строки текста в кратком заголовке (1.2 - множитель относительно размера шрифта) */
  font-size: 18px; /* Размер шрифта краткого заголовка на 18 пикселей */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста краткого заголовка */
  width: 175px; /* Установка ширины краткого заголовка на 175 пикселей */
  color: #2f80ed; /* Цвет текста краткого заголовка (голубой) */
}

