/* Стили для заголовка в секции шапки сайта (.header__title) */
.header__title {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  width: 730px; /* Установка ширины заголовка на 730 пикселей */
  margin-left: 64px; /* Отступ слева от заголовка на 64 пикселя */
  z-index: 2; /* Установка z-индекса элемента на 2 (определяет его позицию относительно других элементов) */
  color: #000000; /* Цвет текста заголовка (черный) */
  line-height: 96px; /* Высота строки текста в заголовке на 96 пикселей */
  font-size: 102px; /* Размер шрифта заголовка на 102 пикселя */
  font-weight: bold; /* Установка жирного начертания для текста заголовка */
}

