/* Стили для основного иллюстрационного изображения в секции шапки сайта (.header__main-illustration) */
.header__main-illustration {
  width: 765px; /* Установка ширины основного иллюстрационного изображения на 765 пикселей */
  height: 608px; /* Установка высоты основного иллюстрационного изображения на 608 пикселей */
  position: absolute; /* Установка абсолютной позиции элемента внутри его родительского контейнера */
  right: 0; /* Отступ справа от основного иллюстрационного изображения на 0 (прижимается к правому краю родительского контейнера) */
  bottom: 0; /* Отступ снизу от основного иллюстрационного изображения на 0 (прижимается к нижнему краю родительского контейнера) */
  z-index: 1; /* Установка z-индекса элемента на 1 (определяет его позицию относительно других элементов) */
}

