/* Стили для заголовков таблицы (.table__heading) */
.table__heading {
  margin: 0; /* Установка отступов внутри элемента на 0 (отмена стандартных отступов) */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 1.15; /* Высота строки текста в заголовках таблицы на 1.15 */
  font-size: 24px; /* Размер шрифта заголовков таблицы на 24 пикселя */
  font-weight: bold; /* Установка жирного начертания для заголовков таблицы */
}
