/* Стили для ячеек таблицы в темной теме (.table__cell_theme_dark) */
.table__cell_theme_dark {
  width: 200px; /* Ширина ячеек таблицы в темной теме: 200 пикселей */
  color: var(--text-theme-color); /* Установка цвета текста для ячеек таблицы в соответствии с пользовательской переменной --text-theme-color */
  margin-right: 0; /* Удаление правого внешнего отступа для ячеек таблицы */
  margin-top: 80px; /* Внешний отступ сверху для ячеек таблицы в темной теме: 80 пикселей */
  z-index: 2; /* Установка z-index для ячеек таблицы в темной теме: 2 */
}
