/* Стили для текстовых элементов таблицы (.table__text) */
.table__text {
  margin: 20px 0; /* Внешние отступы для текстовых элементов таблицы: 20px сверху и снизу, 0 слева и справа */
  padding: 0; /* Установка полей внутри элемента на 0 (отмена стандартных полей) */
  line-height: 1.2; /* Высота строки текста в текстовых элементах таблицы на 1.2 */
  font-size: 18px; /* Размер шрифта текстовых элементов таблицы на 18 пикселей */
  font-weight: normal; /* Установка обычного (нежирного) начертания для текста элементов таблицы */
  font-style: normal; /* Установка обычного (нежирного) стиля шрифта для текста элементов таблицы */
}

/* Стили для последнего дочернего элемента текстовых элементов таблицы (.table__text:last-child) */
.table__text:last-child {
  margin-bottom: 0; /* Удаление внешнего отступа снизу для последнего дочернего элемента текстовых элементов таблицы */
}

