.khan__buy-link {
  align-self: flex-start; /* Выравнивание ссылки по левому краю контейнера, если она находится во flex-контейнере */
  margin: 0; /* Убирает внешние отступы у ссылки */
  line-height: 42px; /* Высота строки текста внутри ссылки */
  font-size: 30px; /* Размер шрифта текста в ссылке */
  font-weight: normal; /* Нормальное начертание текста */
  text-decoration: none; /* Убирает подчеркивание у ссылки */
  color: #2f80ed; /* Цвет текста ссылки */
  transition: opacity .3s ease; /* Плавное изменение прозрачности при наведении */
}

.khan__buy-link:hover {
  opacity: 0.8; /* Уменьшение прозрачности ссылки при наведении */
}

