.khan__book-pic {
  margin-right: 48px; /* Отступ справа от изображения */
  width: 620px; /* Ширина изображения */
  height: 608px; /* Высота изображения */
  object-fit: cover; /* Режим заполнения изображения, чтобы оно полностью заполнило контейнер */
  object-position: top; /* Выравнивание изображения по верхней границе контейнера */
}

